{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <div class="container">
            <div class="login-page clearfix">
                <div class="logged-in-box auth0-box logged-in">
                    {% import "bootstrap/wtf.html" as wtf %}
                    {{ wtf.quick_form(form) }}                
                </div>
            </div>
        </div>
        <hr/>
        <pre>{{ userinfo_pretty }}</pre>
        <pre>{{ request }}</pre>
        <pre>{{ session }}</pre>
    </div>
{% endblock %}